* {
  color: white !important;
}
body {
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  color: #0d1117 !important;
}