* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Global class */
.lc-container {
  width: 80%;
  margin: auto;
}

/* btn classes */
.lc-btn-info {
  background-color: rgb(87, 74, 180);
}
.lc-btn-info:hover {
  background-color: rgb(57, 45, 146);
}
.lc-btn-primary {
  background-color: orange;
}
.lc-btn-primary:hover {
    background-color: rgb(191, 124, 0);
  }
.lc-btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 300ms;
}

/* inputs classes */
.lc-input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* Project class */
body {
  background: linear-gradient(45deg, red, blue);
  color: white;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-style {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#show-res{
    font-size: 20px;
    margin: 20px 0;
}
